@font-face {
    font-family: "Inter";
    src: url("./assets/fonts/Inter-VariableFont_slnt\,wght.ttf");
}
@font-face {
    font-family: "Inter Bold";
    src: url("./assets/fonts/static/Inter-ExtraBold.ttf");
}
* {
    font-family: "Inter";
}
html {
    height: 100vh;
}
body {
    height: 100%;
    margin: 0;
}
.menu {
    position: absolute;
    right: 0;
    top: 0;
    display: none;

}
header {
    position: absolute;
    margin-top: 5%;
    top: 0;
    left: 0;
    width: 80%;
    margin-left: 10%;
}
ul {
    float: right;
}
li {
    display: inline;
    margin-right: 50px;
}
header .logo {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 10px;
}
header a {
    text-decoration: none;
    color: rgb(29, 29, 29);
}
section {
    margin-top: 12%;
    width: 80%;
    margin-left: 10%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}
.s11 img {
    width: 100%;
}
.foot {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.foot h1 {
    font-size: 45px;
    padding-right: 15%;
    font-family: "Inter Bold";
    font-weight: bold;
    color: rgb(26, 26, 26);
}
.foot p {
    padding: 20px;
    color: rgb(26, 26, 26);
}
.foot .r {
    width: 150px;
    padding: 10px;
    background: rgb(243, 36, 0);
    color: white;
    text-align: center;
    margin-left: 20px;
    font-family: "Inter";
    font-weight: bold;
}
.aside {
    background: hsl(240deg, 100%, 5%);
    padding: 30px;
    padding-bottom: 0px;
    padding-top: 10px;
}
.aside h1 {
    font-family: "Inter";
    font-weight: bold;
    color: rgb(255, 217, 0);
}
.news {
    border-bottom: 1px solid #cccde2;
}
.news h4 {
    color: rgb(255, 255, 255);
    font-family: "Inter";
    font-weight: bold;
}
.news p {
    color: rgb(107, 105, 117);
}
.bottom {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}
.bottom .cards {
    display: grid;
    grid-template-columns: 2fr 5fr;
    gap: 20px;
}
.side > * {
    margin: 0;
    padding: 0;
    font-family: "Inter";
    font-weight: bold;
}
.side h2 {
    color: #707072;
    font-size: 30px;
}
.side {
    display: grid;
    gap: 5px;
}
.side p {
    font-weight: normal;
    color: rgb(26, 26, 26);
}
.cards img {
    width: 100%;
    height: 100%;
}
.cards h3 {
    color: #1d1d1d;
    font-size: 18px;
}
.cards p {
    font-family: "Inter";
    color: #141414;
}
.mob {
    display: none;
}
.desk {
    display: block;
}
@media screen and (max-width: 700px) {
    header .logo {
        position: relative;
    }
    ul {
        display: none;
    }
    body {
        width: 90%;
        margin-left: 5%;
    }
    .s1 {
        display: block;
        width: 100%;
        margin: 0;
    }
    .foot {
        display: block;
    }
    .foot p {
        padding: 0;
    }
    .foot .r {
        margin: 0;
    }
    .s11 .foot h1 {
        padding: 0;
    }
    .s11 img {
        height: 300px;
    }
    .bottom {
        width: 100%;
        margin: 0;
    }
    header {
        position: relative;
        width: 100%;
        margin: 0;
    }
    header h1 {
        position: relative;
    }
    .aside {
        margin-top: 20px;
    }
    .bottom {
        display: block;
        margin-top: 20px;
    }
    .bottom .cards {
        margin-top: 15px;
    }
    .menu {
        display: block;
        margin-top: 20px;
        height: 25px;
        width: 40px;
    }
    .mob {
        display: block;
    }
    .desk {
        display: none;
    }
}